<nav class="navbar navbar-light bg-white fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="static/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Afility
    </a>
    <div class="d-flex">
      <button class="btn btn-outline-success me-2" type="button">Login</button>
      <button class="btn btn-outline-primary" type="button">Sign Up</button>
    </div>
  </div>
</nav>

<div style="height:56px"></div>
